a {
    text-decoration: none;
    color: white;
}

.text-header {
    color: white;
}

.page-header {
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.contact::before {
    display: inline-block;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("../img/telefono.png");
    background-repeat: no-repeat;
    background-position: center;
}


.text-nav {
    margin-top: 100px;
}

.page-footer {
    background-image: url("../img/footer_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

label {
    color: white;
}

.div-footer {
    background-color: #111111;
    color: white;
}

@media screen and (min-width: 768px) {
    .text-nav {
        margin-top: 350px;
    }
}
