h1 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.text-header {
    color: white;
}

.page-header {
    background-image: url(/landig-page/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.bg-body-ter {
    background-color: none;
}

.nav {
    margin-top: 8px;
    background-color: none;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav-link:not(:last-of-type) {
    margin-bottom: 12px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, .5);
    color: blue;
    cursor: pointer;
}